 <div class="container"></div>
        <h1>401 Unauthorized</h1>
        <p>{{message}}</p>
        <a href="/login" class="btn btn-primary">Login</a>
        <a href="/register" class="btn btn-primary">Register</a>
    </div>